@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ringo Gallery Web Store SPA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link href="~/dist/static/css/main.65027555.css" rel="stylesheet">
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <div id="urls"
         data-get-cart="@Url.Action("GetCart", "ShoppingCart")"
         data-update-cart="@Url.Action("UpdateCart", "ShoppingCart")"
         data-checkout-cart="@Url.Action("Checkout", "ShoppingCart")"
         data-get-product="@Url.Action("GetAllProducts", "Products")"></div>
    <script type="text/javascript" src="~/dist/static/js/main.a2ea5bae.js"></script>
</body>
</html>
