@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web Online Store</h1>
    <p class="lead">Buy Stuff </p>
    <p><a href="@Url.Action("Index", "ProductPage")" class="btn btn-primary btn-lg">Start Shopping!</a></p>
</div>

<div id="add-to-cart-url" data-add-to-cart="@Url.Action("UpdateCart", "ShoppingCart")"></div>
<div id="get-cart-url" data-add-to-cart="@Url.Action("GetCart", "ShoppingCart")"></div>
